<div class="container h-100">
  <div class="row  justify-content-center align-items-center">
    <div class="col-sm-6 h-50 my-auto" style="margin-top:10% !important;">
	<h1>Password Recovery</h1>
		<form class="" id="userlogin">
		  <div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" name="login_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" name="login_password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div></br>
		  <div class="form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Check me out</label>
		  </div></br>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>	
  </div>
</div>
<script>
	$(document).ready(function(){
		$('#userlogin').on( "submit",function(e){
			e.preventDefault();
			var userId = "jkljdlkdf";
			$.ajax({
				type: 'POST',
				url: '/auth/login',
				data: $(this).serialize() +  "&userId=" + userId,
				dataType: 'json',
				success: function (response) {
					//do something
				}
			});
			//console.log(data);
		});
	});
</script> 
